.editor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 80vw;
  height: 45vh;
  min-width: 20vw;
}

footer {
  display: flex;
}

.editorBox {
  padding: 0;
  width: 45vw;
  height: inherit;
}

.output {
  word-wrap: break-word;
  overflow-y: auto;
  padding: 1px;
  border: 1px solid gray;
}

.char-data {
  width: 10%;
  list-style: none;
}

.red {
  color: red;
}

.black {
  color: lightgray;
}

.clicked {
  border: 1px solid teal;
}
