.editor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 80vw;
  height: 45vh;
}

.editorBox {
  padding: 0;
  width: 45vw;
  height: inherit;
}

.input {
}

.output {
  word-wrap: break-word;
  overflow-y: auto;
  padding: 5px;
}

.char-data {
  width: 10%;
  list-style: none;
}

.red {
  color: red;
}

.black {
  color: lightgray;
}
