.word_bank_container {
  max-width: 800px;
  width: 60vw;
  height: 200px;
  border: 1px solid whitesmoke;
  overflow-wrap: break-word;
  text-align: justify;
}

.callWord {
  text-align: center;
}

.suggestion {
  /* padding: 20px; */
  padding-left: 10px;
  padding-right: 10px;
}

.suggestions {
  /* padding: 20px; */
  text-align: justify;
}

.error {
  text-align: center;
}
